body {
    margin: 0;
    background: url('../banner.png') no-repeat center center fixed;
    background-size: cover;
  }

  .form-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;  
  }

  form {
    background: rgba(255,255,255,0.8);
    padding: 30px;
    padding-right: 45px;
    border-radius: 10px;
    max-width: 400px;  
  }

  h1 {
    text-align: center;
  }

  label {
    display: block;
    margin-bottom: 5px; 
  }

  input {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  button {
    margin-top: 12px;
    width: 108%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 5px;
    opacity: 0.9;
  } 

  button:hover {
    opacity: 1;
  }